/* Responsive design for mobile devices */
@media (max-width: 480px) {
    .messages-container {
        width: 90%;
    }

    .header h1 {
        font-size: 36px;
    }

    .header p {
        font-size: 16px;
    }

    .message-text {
        font-size: 24px;
        padding: 25px;
    }

    .message-emoji {
        font-size: 42px;
    }
}