footer {
    background-color: black;
    color: white;
    padding: 3rem;
    line-height: 1.5rem;
}

.footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;
    
    margin: 0 auto;
    width: min(100%, 1280px);
}

.footer-block {
    font-size: 1.1rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

#footer-logo {
    flex-direction: row;
    align-items: center;
}

.footer-block img {
    display: block;
    height: 2rem;
    padding-right: 1rem;
}

.footer-block .gradient-heading {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
