.form {
    display: none;

    max-width: min(500px, 90dvw);
}

.form .opened-form {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    animation: scaleIn 0.3s ease forwards;
}

.form form {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding: 1rem;
    border-radius: 1rem;

    background: rgba(200, 200, 200, 0.2);
    backdrop-filter: blur(20px);
}

.form form input,
.form form textarea,
.form form button {
    width: calc(100% - 30px);
    background-color: white;
    border-radius: 0.25rem;
    border: 0;
    color: black;
    padding: 15px;
    font-size: 1rem;
    font-family: inherit;
}

.form form textarea {
    max-width: calc(100% - 30px);;
    min-width: calc(100% - 30px);;
    min-height: 3rem;
}

.form form button {
    width: 100%;
    transition: all 2s;
}

.form form input::placeholder,
.form form textarea::placeholder {
    color: black;
}

.form form input:focus,
.form form textarea:focus {
    outline-width: 0;
}

@keyframes scaleIn {
    from {
        transform: translate(-50%, -50%) scale(0.7);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}
