header {
    position: fixed;
    width: 100%;
    background: black;

    z-index: 1000;
}

.navbar {
    margin: 0 auto;

    height: var(--header-height);

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    gap: 3rem;
    padding-left: 1.5rem;
}

.navbar-item {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 30px;

    color: white;
    text-decoration: none;
    line-height: 70%;
    font-size: 1.1rem;

    border-radius: 50px;
    position: relative;
}

.navbar-item::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 3px;
    background: var(--plain-gradient);
    transition: all 0.3s ease;
}

.navbar-item:hover::before {
    width: 100%;
}

@media (min-width: 1280px) {
    .navbar {
        max-width: 1280px;
    }
}

@media (max-width: 568px) {
    .navbar {
        gap: 1rem;
    }
}
