.pop-up {
    display: none;

    width: 500px;
    max-height: 80dvh;
}

.opened-pop-up {
    display: block;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    animation: scaleIn 0.3s ease forwards;
}

.pop-up-content {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
    padding: 1.5rem;
    border-radius: 1rem;

    background: rgba(40, 40, 40, 0.2);
    backdrop-filter: blur(50px);
}

.pop-up-content-block {
    width: calc(100% - 2rem);
    background-color: white;
    border-radius: 0.25rem;
    border: 0;
    color: black;
    padding: 1rem;
    font-size: 1rem;
    font-family: inherit;
}

.pop-up-content-block h3 {
    display: block;
    font-size: 1.5rem;
    background: var(--plain-gradient);
    background-clip: text;
    color: transparent;
    margin: 0;
    white-space: nowrap;
}

@media (max-width: 768px) {
    .pop-up {
        width: min(80dvw, 500px);
    }

    .pop-up-content-block h3 {
        font-size: 1.25rem;
    }
}

@media (max-width: 568px) {
    .pop-up {
        width: min(90dvw, 500px);
    }
}
